@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*
#B1C1D0
#8DB5D0

#5D9EB8

#2D6588
#0E4160
*/

:root {
  /* CONSTANTS */

  --CLR-PRIMARY-700: #fbc02d !important;
  --CLR-PRIMARY-600: #fdd835 !important;
  --CLR-PRIMARY-500: #ffeb3b !important;
  --CLR-PRIMARY-400: #ffee58 !important;
  --CLR-PRIMARY-300: #fff176 !important;

  --CLR-SECONDARY-700: rgb(48, 63, 159) !important;
  --CLR-SECONDARY-600: rgb(57, 73, 171) !important;
  --CLR-SECONDARY-500: rgb(63, 81, 181) !important;
  --CLR-SECONDARY-400: rgb(92, 107, 192) !important;
  --CLR-SECONDARY-300: rgb(121, 134, 203) !important;

  --CLR-TERTIARY-700: #d32f2f !important;
  --CLR-TERTIARY-600: #e53935 !important;
  --CLR-TERTIARY-500: #f44336 !important;
  --CLR-TERTIARY-400: #ef5350 !important;
  --CLR-TERTIARY-300: #e57373 !important;

  --CLR-NEUTRAL-100: rgb(245, 245, 245) !important;
  --CLR-NEUTRAL-200: rgb(220, 220, 220) !important;
  --CLR-NEUTRAL-300: rgb(205, 205, 205) !important;
  --CLR-NEUTRAL-700: rgb(55, 55, 55) !important;
  --CLR-NEUTRAL-800: rgb(30, 30, 30) !important;
  --CLR-NEUTRAL-900: rgb(15, 15, 15) !important;

  /* Themes */

  --theme-main-lighter: var(--CLR-PRIMARY-300);
  --theme-main-light: var(--CLR-PRIMARY-400);
  --theme-main: var(--CLR-PRIMARY-500);
  --theme-main-dark: var(--CLR-PRIMARY-600);
  --theme-main-darker: var(--CLR-PRIMARY-700);

  --theme-alternative-lighter: var(--CLR-SECONDARY-300);
  --theme-alternative-light: var(--CLR-SECONDARY-400);
  --theme-alternative: var(--CLR-SECONDARY-500);
  --theme-alternative-dark: var(--CLR-SECONDARY-600);
  --theme-alternative-darker: var(--CLR-SECONDARY-700);

  --theme-additional-lighter: var(--CLR-TERTIARY-300);
  --theme-additional-light: var(--CLR-TERTIARY-400);
  --theme-additional: var(--CLR-TERTIARY-500);
  --theme-additional-dark: var(--CLR-TERTIARY-600);
  --theme-additional-darker: var(--CLR-TERTIARY-700);

  --theme-lighter: var(--CLR-NEUTRAL-100);
  --theme-light: var(--CLR-NEUTRAL-200);
  --theme-semilight: var(--CLR-NEUTRAL-300);

  --theme-semidark: var(--CLR-NEUTRAL-700);
  --theme-dark: var(--CLR-NEUTRAL-800);
  --theme-darker: var(--CLR-NEUTRAL-900);

  /* Cubic Bazer */

  --fast: cubic-bezier(0, 0.5, 0.5, 1);
  --slow: cubic-bezier(0.5, 0, 1, 0.5);

  /* Responsive Font Settings */

  --min-fs: 1;
  --max-fs: 1.55;
  --min-vw: 20;
  --max-vw: 45;

  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;
  --min-vw-rem: var(--min-vw) * 1rem;

  --slope: (var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) /
    (var(--max-vw) - var(--min-vw));

  /* Applying Resposiveness to the font */

  font-size: clamp(
    var(--min-fs-rem),
    var(--min-fs-rem) + var(--slope),
    var(--max-fs-rem)
  );

  /* Typographies */

  --f-family-primary: "Glory", sans-serif;
  --f-family-secondary: 'Bree Serif', serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  color: var(--theme-light);
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--theme-light);
  text-rendering: optimizeSpeed;
  min-height: 100vh;

  font-family: var(--f-family-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.invert-theme {
  --heading-color: var(--theme-main);
  color: var(--heading-color);
  font-family: var(--f-family-secondary);
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
}

p,
span,
label,
small,
sub {
  --font-color: var(--theme-ligth);
  color: var(--font-color);
  display: block;
}

.invert-theme {
  --heading-color: var(--theme-alternative);
}

nav {
  --nav-padding: 0.5rem 1em;

  padding: var(--nav-padding);
}

.m-all,
.m-horizontal,
.m-horizontal-x,
.m-horizontal-xx,
.m-vertical,
.m-vertical-x,
.m-vertical-xx,
.p-all,
.p-horizontal,
.p-horizontal-x,
.p-horizontal-xx,
.p-vertical,
.p-vertical-x,
.p-vertical-xx,
.p-bottom {
  --p-top: 0rem;
  --p-right: 0rem;
  --p-bottom: 0rem;
  --p-left: 0rem;

  --m-top: 0rem;
  --m-right: 0rem;
  --m-bottom: 0rem;
  --m-left: 0rem;

  --gap: 0rem;

  --container-padding: var(--p-top) var(--p-right) var(--p-bottom) var(--p-left);
  --container-margin: var(--m-top) var(--m-right) var(--m-bottom) var(--m-left);
  --container-gap: var(--gap);

  padding: var(--container-padding);
  margin: var(--container-margin);
  gap: var(--container-gap);
}

.m-horizontal {
  --m-right: 1rem;
  --m-left: 1rem;
}

.m-horizontal-x {
  --m-right: 1.5rem;
  --m-left: 1.5rem;
}

.m-horizontal-xx {
  --m-right: 2rem;
  --m-left: 2rem;
}

.p-all {
  --p-top: 1rem;
  --p-left: 1rem;
  --p-bottom: 1rem;
  --p-rigth: 1rem;
}

.p-vertical {
  --p-top: 1rem;
  --p-bottom: 1rem;
}

.p-horizontal {
  --p-left: 1rem;
  --p-right: 1rem;
}

.p-bottom {
  --p-bottom: 1rem;
}

a {
  --link-color: var(--theme-main);
  display: block;
  text-decoration: none;
  color: var(--link-color);
}

p a {
  display: inline;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button,
.button {
  --button-background: var(--theme-main);
  --button-color-font: var(--theme-alternative);
  --button-padding: 0.5rem 1rem;
  --button-border-radius: 10px;
  --button-font-size: 1rem;
  --button-font-weight: 700;

  background-color: var(--button-background);
  color: var(--button-color-font);

  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  font-family: var(--f-family-primary);

  border: none;
  border-radius: var(--button-border-radius);

  transition: color 500ms var(--fast), background-color 500ms var(--fast);
}
button:hover,
.button:hover {
  --button-background: var(--theme-alternative);
  --button-color-font: var(--theme-main);
}

img,
picture,
svg,
video,
iframe,
figure {
  display: block;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

ul[role="list"],
ol[role="list"],
ul,
ol {
  list-style: none;
}

li {
  list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
