:root {
    --CLR-PRIMARY-LIGHT: rgb(240, 240, 240) !important;
    --CLR-PRIMARY: rgba(220, 220, 220, 1) !important;
    --CLR-PRIMARY-DARK: rgb(200, 200, 200) !important;
    --CLR-SECONDARY-LIGHT: rgb(55, 55, 55) !important;
    --CLR-SECONDARY: rgb(35, 35, 35) !important;
    --CLR-SECONDARY-DARK: rgb(15, 15, 15) !important;

    --theme-color-primary-ligth: var(--CLR-PRIMARY-LIGHT);
    --theme-color-primary: var(--CLR-PRIMARY);
    --theme-color-primary-dark: var(--CLR-PRIMARY-DARK);
    --theme-color-secondary-ligth: var(--CLR-SECONDARY-LIGHT);
    --theme-color-secondary: var(--CLR-SECONDARY);
    --theme-color-secondary-dark: var(--CLR-SECONDARY-DARK);

    --theme-color-background: var(--CLR-PRIMARY);
    --theme-color-foreground: var(--CLR-SECONDARY);

    --border-color: var(--theme-color-primary);
  
    --width-3-quarter: calc(var(--WIDTH-THREE-QUARTER));

    --min-fs: 1;
    --max-fs: 1.550;
    --min-vw: 20;
    --max-vw: 45;
  
    --min-fs-rem: var(--min-fs) * 1rem;
    --max-fs-rem: var(--max-fs) * 1rem;
    --min-vw-rem: var(--min-vw) * 1rem;
  
    --slope: (var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw));
  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(var(--min-fs-rem), var(--min-fs-rem) + var(--slope), var(--max-fs-rem));
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--theme-color-secondary);
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    background-color: var(--theme-color-background);
    text-rendering: optimizeSpeed;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .invert-theme {
    --heading-color: var(--theme-color-primary);
    color: var(--heading-color);
}

p, span, label, small, sub {
    --body-color: var(--theme-color-primary-dark);
    color: var(--body-color);
}
  
.invert-theme {
    --heading-color: var(--theme-color-secondary);
}

nav {
    --nav-padding: .5rem 1em;
    --nav-background: var(--theme-color-secondary);
    
    padding: var(--nav-padding);
    background-color: var(--nav-background);

    position: sticky;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    top: 0; left: 0; right: 0;
}

a {
    --link-color: var(--theme-color-primary-dark);
    text-decoration: none;
    color: var(--link-color)
}

a:not([class]) {
    text-decoration-skip-ink: auto;
  }

button, .button  {
    --button-background: var(--theme-color-primary);
    --button-color-font: var(--theme-color-secondary);
    --button-padding: .5rem 1rem;
    --button-border-radius: 10px;
    --button-font-weight: bold;

    background-color: var(--button-background);
    color: var( --button-color-font);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight);

    border: none;
    font-size: var(--font-size);
}
button:hover, .button:hover {
    --button-background: var(--theme-color-secondary);
    --button-color-font: var(--theme-color-primary);
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}